.menu {
  background: #D5B0AC;
  text-align: center;
}

.menu_vertical {
  width: 100px;
  background: transparent;
  display: none;
}

.menu_vertical span {
  margin-top: 1px;
}

span {
  background: #D5B0AC;
  line-height: 30px;
  font-weight: bold;
  color: #402E2A;
  width: 100px;
  display: inline-block;
}

span:hover {
  color: #FFFFFF;
  background: #9CD08F;
  cursor: pointer;
}

span:hover .menu_vertical {
  display: block;
  position: absolute;
}
